@import url('https://fonts.googleapis.com/css2?family=Forum&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

.header {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Raleway';
    font-weight: lighter;

}

body {
    background: url(./media/stars2.png) no-repeat center fixed;
    background-color: #2C2C54;
    background-size: cover;
    width: 100%;
    height: auto;
}

.intro {
    color: white;
    text-align: center;
    font-family: 'forum';
    font-size: 20px;
}

h1 {
    font-family: 'Forum';
    margin-top: -13px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card {
    color: white;
    flex-direction:;
}

.card-img {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 7px;
    margin: 10px;
    border: 0.5px solid #FFD700;
    font-size: 14px;
    text-align: center;
}

